 aiohttp
 aiosignal
 
 attrs
 blinker
 certifi
 charsetnormalizer
 click
 dataclassesjson
 docarray
 Flask
 frozenlist
 hnswlib
 idna
 itsdangerous
 Jinja2
 langchain
 langsmith
 markdownitpy
 MarkupSafe
 marshmallow
 mdurl
 multidict
 mypyextensions
 numexpr
 numpy
 openai
 openapischemapydantic
 orjson
 packaging
 protobuf
 pydantic
 Pygments
 pypdf
 PyYAML
 regex
 requests
 rich
 SQLAlchemy
 tenacity
 tiktoken
 tqdm
 typesrequests
 typesurllib3
 typinginspect
 typing_extensions
 urllib3
 Werkzeug
 yarl
